.showImage {
    display: unset;
}

.hideImage {
    display: none;
}

.image {
    width: 20vw;
    margin-bottom: 20px;
    border: 1px solid black;
}

.projectsection {
    display: flex;
    justify-content: flex-start;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    z-index: 2;
}

.pictureText {
    margin-left: 100px;
    width: 20vw;
    z-index: 2;
}

@media (max-width: 1280px) {
    .image {
        width: 40vw;
        border: 1px solid black;
    }
    .pictureText {
        margin-left: 100px;
        width: 40vw;
    }

    .projects {
        height: 350px;
    }
  }

  @media (max-width: 600px) {
    .image {
        display: none;
        border: none;
    }

    .pictureText {
        margin-left: 100px;
        width: 40vw;
    }

    .pictureText {
        display: none;
    }

    .projects {
        height: 300px;
    }
  }