*, *::before, *::after{
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-text-lightmode);
  background-color: var(--color-background-lightmode);
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0px;
  padding-top: 1.25em;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0px;
  padding: 1.25em 0;
}

p {
  margin-bottom: 0;
}

nav p {
  margin: 0;
}

a {
  color: var(--color-text-lightmode);
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.link {
  font-size: 1.5rem;
}

.link:hover,
.link:focus,
a:hover,
a:focus {
  color: #e73c7e;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

header {
  display: flex;
  width: 100vw;
  min-height: 8vh;
  justify-content: right;
  padding: 0 2.5em 1.25em 0;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

/* Colored "border" */
.corner {
  position: absolute;
  width: 350px;
  height: 430px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  z-index: -2;
  animation: gradient 5s linear infinite;
  background-size: 400% 400%;
}

.corner1 {
  top: 25px;
  left: 20px;
}

.corner2 {
  position: absolute;
  bottom: 40px;
  right: 20px;
  z-index: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Hide most of the box above */
.innerbox {
  position: absolute;
  width: 325px;
  height: 440px;
  background-color: var(--color-background-lightmode);
  z-index: -1;
}

.innerbox1 {
  top: 50px;
  left: 45px;
}

.innerbox2 {
  bottom: 65px;
  right: 45px;
  z-index: 1;
}

/* Corners on colorized box */
.slantbox {
  position: absolute;
  width: 30px;
  height: 560px;
  background-color: var(--color-background-lightmode);
  z-index: -1;
  rotate: 39deg;
}

.slantbox1 {
  top: -30px;
  left: 190px;
}

.slantbox2 {
  bottom: -15px;
  right: 190px;
  z-index: 1;
}

main {
  position: relative;
  min-height: 92vh;
  padding-left: 3.75em;
  padding-top: 3.75em;
  z-index: 0;
}

.maintext {
  padding: 1.875em;
  width: 42vw;
  z-index: 2;
}

.border {
  width: 2vw;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  height: 80vh;
}

.border:hover > .corner {
  transform: rotate(180deg);
}

.border .corner {
  width: 8px;
  margin-left: unset;
  margin-top: 65px;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

@media (max-width: 1100px) {
  .flex {
    flex-direction: column;
  }
  
  .maintext {
    width: 70vw;
  }
  
  .border {
    height: 4vh;
    width: 80vw;
  }

  .border .corner {
    width: 80vw;
    height: 8px;
    position: relative;
    margin: auto;
    z-index: 2;
  }

  .corner {
    width: 165px;
    height: 200px;
  }
  
  .corner1 {
    top: 15px;
    left: 10px;
  }
  
  .corner2 {
    bottom: 15px;
    right: 10px;
  }
  
  /* Hide most of the box above */
  .innerbox {
    width: 151px;
    height: 186px;
  }
  
  .innerbox1 {
    top: 30px;
    left: 25px;
  }
  
  .innerbox2 {
    bottom: 30px;
    right: 25px;
  }

  /* Corners on colorized box */
  .slantbox {
    width: 20px;
    height: 260px;
  }

  .slantbox1 {
    top: -10px;
    left: 90px;
  }

  .slantbox2 {
    bottom: -10px;
    right: 90px;
  }

  h1 {
    font-size: 1.75rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
  
  p {
    font-size: 0.85rem;
  }
  
  a, .link {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }
  
  p {
    font-size: 0.75rem;
  }
  
  a, .link {
    font-size: 1rem;
  }
}

.projectpage {
  width: 42vw;
  min-height: 65vh;
}

/* Colors for dark mode */
.dark {
  background-color: var(--color-background-darkmode);
  color: var(--color-text-darkmode);
}